<div class="profile-padding-configuration" ng-controller="ConfigurationsCtrl">
    <div class="BoxXsWidth">
        <img class="pictureExploreUser" ng-src="{{userdata.cover}}" />
    </div>
    <section class="padding-top-40 styleBoxConfiguration container-fluid container-fullw bg-white padding-top-10 padding-bottom-10 backgroundGray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 borderRight paddingRight0MD">
                    <ul class="list-unstyled">
                        <li class="borderBottomClap paddingSettingsList">
                            <label class="fontSize17" translate="configurations.ALERT_NOTIFICATIONS"></label>
                        </li>
                        <li class="borderBottomClap paddingSettingsList">
                            <img class="IconEmail" ng-src="HTML/assets/images/usergray.png"></img>
                            <a ng-click="changeSettingViews(1)" class="pointerHover" translate="configurations.HIDE_PROFILE"></a>
                        </li>
                        <li class="borderBottomClap paddingSettingsList">
                            <img class="IconEmail" ng-src="HTML/assets/images/email.png"></img>
                            <a ng-click="changeSettingViews(2)" class="pointerHover" translate="configurations.SHOW_EMAIL"></a>
                        </li>
                        <li class="paddingSettingsList borderBottomXS">
                            <img class="IconEmail borderBottomXS" ng-src="HTML/assets/images/email.png"></img>
                            <a ng-click="changeSettingViews(3)" class="pointerHover" translate="configurations.EMAIL_NOTIFICATIONS"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 paddingLeft0MD">
                    <div class="panel panel-transparent" ng-show="visibleProfile">
                        <div class="panel-body padding-left-0 padding-right-0">
                            <p class="settingBox paddingLeft50MD borderBottomClap" id="hideProfile" translate="configurations.HIDE_PROFILE"></p>
                            <div class="checkbox marginLeft50MD">
                                <switch ng-change="switchProfileChange()" ng-model="switchProfile" on="Enable" off="Disable"></switch>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-transparent" ng-show="visibleEmailNotifications">
                        <div class="panel-body padding-left-0 padding-right-0">
                            <p class="settingBox paddingLeft50MD borderBottomClap" id="emailRecive" translate="configurations.EMAIL_NOTIFICATIONS"></p>
                            <div class="checkbox marginLeft50MD">
                                <switch ng-change="switchEmailChange()" ng-model="switchEmail" on="Enable" off="Disable"></switch>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-transparent" ng-show="visibleEmail">
                        <div class="panel-body padding-left-0 padding-right-0">
                            <p class="settingBox paddingLeft50MD borderBottomClap" id="showEmail" translate="configurations.SHOW_EMAIL"></p>
                            <div class="checkbox marginLeft50MD">
                                <switch ng-change="switchShowEmailChange()" ng-model="switchShowEmail" on="Enable" off="Disable"></switch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>