<div class="main-content padding-top-50 padding-bottom-0" ng-controller="FAQCtrl">
    <div class="BoxXsWidth">
        <img class="pictureExploreUser" ng-src="HTML/assets/images/FAQ.jpg" />
        <h2 class="text-center textPictureExploreUsers col-xs-12" translate="faq.TITLE"></h2>
        <p class="text-center font-size-15 textPictureExploreUsersSeconds col-xs-12 hidden-xs" translate="faq.SUB_TITLE"></p>
    </div>
    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 padding-left-0">
                    <div class="margin-bottom-30">
                        <h4 translate="faq.HEAD1"></h4>
                        <hr/>
                        <div id="accordion" class="panel-group accordion-custom">
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_1_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION1"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_1_1">
                                    <div class="panel-body" translate="faq.ANSWER1"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_1_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION2"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_1_2">
                                    <div class="panel-body" translate="faq.ANSWER2"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_1_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION3"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_1_3">
                                    <div class="panel-body" translate="faq.ANSWER3"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_1_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION4"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_1_4">
                                    <div class="panel-body" translate="faq.ANSWER4"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_1_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION5"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_1_5">
                                    <div class="panel-body" translate="faq.ANSWER5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-right-0">
                    <div class="margin-bottom-30">
                        <h4 translate="faq.HEAD2"></h4>
                        <hr/>
                        <div id="accordion" class="panel-group accordion-custom">
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_2_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION6"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_2_1">
                                    <div class="panel-body" translate="faq.ANSWER6"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_2_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION7"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_2_2">
                                    <div class="panel-body" translate="faq.ANSWER7"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_2_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION8"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_2_3">
                                    <div class="panel-body" translate="faq.ANSWER8"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_2_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION9"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_2_4">
                                    <div class="panel-body" translate="faq.ANSWER9"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_2_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION10"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_2_5">
                                    <div class="panel-body" translate="faq.ANSWER10"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_2_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION11"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_2_6">
                                    <div class="panel-body" translate="faq.ANSWER11"></div>
                                </div>
                            </div>
                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#faq_2_7" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-arrow"></i>
                                            <p class="margin-bottom-0 colorTextBackers col-sm-11" translate="faq.QUESTION12"></p>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq_2_7">
                                    <div class="panel-body" translate="faq.ANSWER12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    jQuery(document).ready(function() {
        Main.init();
        Faq.init();
    });
</script>