<div class="main-content-home" ng-controller="HomeCtrl">
    <ui-carousel class="margin-bottom-0" slides="fade.slides" arrows="true" slides-to-show="3" slides-to-scroll="1" fade="true" initial-slide="0" infinite="true">
        <carousel-item>
            <div class="row ButtonCarouselPosition">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="hidden-xs mainTitle title-white textColorWhite margin-bottom-5 font-size-39 MessageUnread" translate="home.TEXT_TSHIRTS"></h1>
                    <span class="hidden-xs mainDescription font-size-18 col-md-7 padding-left-0" translate="home.TEXT_HOME"></span>
                    <div class="col-xs-12 padding-0 btn-group margin-top-20">
                        <a ng-hide="connected" type="button" class="btn btn-primary margin-right-10 ButtonRadius" data-toggle="modal" data-target="#myModalLoginHome">
                            <i class="ti-shift-right"></i>
                            <label class="textColorWhite margin-bottom-0 pointerHover" translate="home.LOG_IN"></label>
                        </a>
                        <a ng-hide="connected" type="button" class="btn btn-primary margin-right-10 ButtonRadius" data-toggle="modal" data-target="#myModalRegisterHome">
                            <i class="ti-write"></i>
                            <label class="textColorWhite margin-bottom-0 pointerHover" translate="home.REGISTER"></label>
                        </a>
                        <a type="button" class="btn btn-primary ButtonRadius marginButtonBuy" href="https://www.kickstarter.com/projects/856235450/797702255?ref=429235&token=9c07d5af">
                            <i class="ti-shopping-cart"></i>
                            <label class="textColorWhite margin-bottom-0 pointerHover" translate="home.BUY"></label>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Carouselimage">
                <img class="img-responsive" ng-src="{{ item }}">
            </div>
        </carousel-item>
        <carousel-prev>
            <button class="ButtonPrevCarousel">
                <img class="width30" ng-src="HTML/assets/images/prevWhite.png"></img>
            </button>
        </carousel-prev>
        <carousel-next>
            <button class="ButtonNextCarousel">
                <img class="width30" ng-src="HTML/assets/images/nextWhite.png"></img>
            </button>
        </carousel-next>
    </ui-carousel>
    <section class="container-fluid container-fullw bg-white borderBottomNone padding-top-45 padding-bottom-55">
        <div class="container">
            <div class="row">
                <h2 ng-click="goToLink()" class="text-center pointerHover" data-appears-class="fadeInUp" data-appears-delay="300" translate="home.MEET_TEAM"></h2>
                <hr />
                <p data-appears-delay="300" data-appears-class="fadeInDown" class="text-center margin-bottom-20 font-size-15 lineHeight20" translate="home.MEET_TEXT"></p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="team-list list-unstyled">
                        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-top-15 padding-bottom-15" ng-repeat="profile in profiles | limitTo:countLimit">
                            <div class="styleBox marginUserHome">
                                <img ng-show="profile.confVisible" class="IconSnippet iconEyeHome" ng-src="HTML/assets/images/visible.png"></img>
                                <img ng-hide="profile.confVisible" class="IconSnippet iconEyeHome" ng-src="HTML/assets/images/hide.png"></img>
                                <div class="imageBoxHome backgroundWhite border-radius50">
                                    <img ng-src="{{profile.avatar}}" class="img-circle imgProfile pointerHover" ng-click="goToProfile(profile.owner)" />
                                </div>
                                <div class="col-xs-12 center padding-left-10 padding-right-10">
                                    <h3 class="margin-top-10" ng-hide="profile.fullname == ''">{{profile.fullname | htmlToPlaintext | words:2 :true}}</h3>
                                    <h3 class="margin-top-10" ng-show="profile.fullname == ''">@{{profile.owner}}</h3>
                                    <p class="text-dark">
                                        {{profile.info | htmlToPlaintext | words:10 :true}}
                                    </p>
                                </div>
                                <div class="buttonContainer">
                                    <a class="btn btn-primary" ng-click="goToProfile(profile.owner)" translate="home.SEE_PROFILE"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                        <a class="btn btn-primary marginButtonUserHome" ui-sref="users" translate="home.EXPLORE_MORE"></a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid container-fullw padding-top-0 backgroundWhite padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="center no-visible marginleft3LG" data-appears-class="fadeInUp" data-appears-delay="300" translate="home.TITLE_GALLERY"></h2>
                    <hr>
                    <p class="text-center no-visible font-size-15 margin-bottom-20 lineHeight20" data-appears-class="fadeInDown" data-appears-delay="300" translate="home.TEXT_GALLERY"></p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-30 padding-right-30" data-appears-group-delay="0" data-appears-delay-increase="300" id="portfolio">
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(0)" src="HTML/assets/images/gallery/1.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(1)" src="HTML/assets/images/gallery/2.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(2)" src="HTML/assets/images/gallery/3.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(3)" src="HTML/assets/images/gallery/4.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(4)" src="HTML/assets/images/gallery/5.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(5)" src="HTML/assets/images/gallery/6.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible hidden-xs no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(6)" src="HTML/assets/images/gallery/7.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 no-visible hidden-xs no-padding" data-appears-class="fadeIn">
                                <div class="figure-wrapper">
                                    <figure class="effect-zoe margin-top-0 margin-bottom-0">
                                        <img ng-click="OpenImage(7)" src="HTML/assets/images/gallery/8.JPG" class="img-responsive">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid container-fullw bg-white borderBottomNone padding-0">
        <div class="col-xs-12 backgroundBlueSky center height-70">
            <h2 ng-click="goToLink()" class="textColorWhite pointerHover margin-top-17 hidden-xs" translate="home.LINE_BLUE"></h2>
            <h4 ng-click="goToLink()" class="textColorWhite pointerHover margin-top-25 hidden-sm hidden-md hidden-lg" translate="home.LINE_BLUE"></h4>
        </div>
    </section>
    <div class="row padding-0">
        <section class="container-fluid container-fullw" data-stellar-background-ratio="0.5" style="background-image: url('HTML/assets/images/home-background.jpg');">
            <div class="container">
                <div class="row" ng-cloak>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/totalofvisit.png" class="IconFats">
                            <span class="block font-size-50 text-white">{{tracks.totalVisits}}</span>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.TOTAL_VISITS"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/returpercentage.png" class="IconFats">
                            <div class="block">
                                <span class="font-size-50 text-white">{{tracks.returnRatio}}</span>
                                <span class="counter-symbol text-white">%</span>
                            </div>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.RETURN_RATIO"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/timeonsite.png" class="IconFats">
                            <span class="block font-size-50 text-white">{{tracks.timeOnSite}}</span>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.TIME_ON_SITE"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/clients.png" class="IconFats">
                            <span class="block font-size-50 text-white">{{tracks.unique}}</span>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.UNIQUE"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid container-fullw bg-white">
            <div class="container">
                <div class="row">
                    <h2 class="text-center" data-appears-class="fadeInUp" data-appears-delay="300" translate="home.OUR_BACKERS"></h2>
                    <hr />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                        <slick class="slider" settings="slickConfig3">
                            <div ng-repeat="i in backers">
                                <div class="styleBoxBackers marginXSBackersCarousel">
                                    <div class="center padding-left-10 padding-right-10">
                                        <h4 class="margin-top-15 hoverColor colorTextBackers">{{i.name}}</h4>
                                        <hr class="tall margin-top-0 margin-bottom-0">
                                        <h5 class="margin-top-10 hoverColor">{{i.backers}}</h5>
                                    </div>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="openImage">
        <div class="modal-dialog modal-md">
            <div class="modal-content padding-0 ModalImageSize">
                <a id="prevImage" ng-click="prevImageModal()" ng-show="imageOpenModal != 0">
                    <i class="fa fa-angle-left styleButtonGallery"></i>
                </a>
                <a id="nextImage" ng-click="nextImageModal()" ng-show="imageOpenModal != (galery.length - 1)">
                    <i class="fa fa-angle-right styleButtonGallery"></i>
                </a>
                <img ng-click="closeImage()" class="img-responsive" ng-src="{{galery[imageOpenModal]}}" />
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        Main.init();
    });
</script>