<div class="profile-terms">
    <div class="BoxXsWidth">
        <img class="pictureExploreUser" ng-src="HTML/assets/images/banneremail.jpg" />
        <!-- <h3 class="text-center textPictureExploreUsers col-xs-12" translate="terms.TITLE"></h3> -->
        <!-- <p class="text-center font-size-15 textPictureExploreUsersSeconds col-xs-12 hidden-xs" translate="terms.SUB_TITLE"></p> -->
    </div>
    <section class="container-fluid container-fullw bg-white min-height-586 paddingTerms" ng-controller="PressCtrl">
        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://www.ondacero.es/programas/mas-de-uno/audios-podcast/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda_201802165a86ad770cf23e9bc022b365.html">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/onda_cero.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.ondacero.es/programas/mas-de-uno/audios-podcast/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda_201802165a86ad770cf23e9bc022b365.html">
                    <h3>ONDACERO ESPAÑA</h3>
                </a>
                <a ng-href="http://www.ondacero.es/programas/mas-de-uno/audios-podcast/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda_201802165a86ad770cf23e9bc022b365.html">
                    <h4>La camiseta inteligente con mensaje que pretende revolucionar la moda</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://mundo.sputniknews.com/reportajes/201802141076271472-asia-pekin-america-latina-la-habana-negocio/#comments">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/sputnik.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://mundo.sputniknews.com/reportajes/201802141076271472-asia-pekin-america-latina-la-habana-negocio/#comments">
                    <h3>SPUTNIK MUNDO</h3>
                </a>
                <a ng-href="https://mundo.sputniknews.com/reportajes/201802141076271472-asia-pekin-america-latina-la-habana-negocio/#comments">
                    <h4>Joven emprendedor cubano crea camisetas 'inteligentes'... en China</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="https://oncubamagazine.com/economia-negocios/ropa-inteligente-cubana-desde-china/">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/on_cuba.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://oncubamagazine.com/economia-negocios/ropa-inteligente-cubana-desde-china/">
                    <h3>ONCUBA</h3>
                </a>
                <a ng-href="https://oncubamagazine.com/economia-negocios/ropa-inteligente-cubana-desde-china/">
                    <h4>Ropa inteligente, cubana, desde China, ¿qué es eso?</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://vistarmagazine.com/cuba-ya-tiene-su-primera-linea-de-ropa-inteligente/">
                <img class="col-xs-4 col-md-4 imagePressVistar" src="HTML/assets/images/press/vistar.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://vistarmagazine.com/cuba-ya-tiene-su-primera-linea-de-ropa-inteligente/">
                    <h3>VISTAR MAGAZINE</h3>
                </a>
                <a ng-href="https://vistarmagazine.com/cuba-ya-tiene-su-primera-linea-de-ropa-inteligente/">
                    <h4>Cuba ya tiene su primera línea de ropa inteligente</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://www.revistagarbos.com/noticia/moda-%C2%BFinteligente-en-cuba">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/garbos.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.revistagarbos.com/noticia/moda-%C2%BFinteligente-en-cuba">
                    <h3>REVISTA GARBOS</h3>
                </a>
                <a ng-href="http://www.revistagarbos.com/noticia/moda-%C2%BFinteligente-en-cuba">
                    <h4>Moda ¿inteligente? en Cuba</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://enganchatealocubano.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-en-china-video">
                <img class="col-xs-4 col-md-4 imagePressEnganchate" src="HTML/assets/images/press/enganchate.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://enganchatealocubano.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-en-china-video">
                    <h3>ENGÁNCHATE A LO CUBANO</h3>
                </a>
                <a ng-href="https://enganchatealocubano.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-en-china-video">
                    <h4>Joven emprendedor cubano crea camisetas “inteligentes” en China</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://ads305.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-china/">
                <img class="col-xs-4 col-md-4 imagePressADS" src="HTML/assets/images/press/ads305.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://ads305.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-china/">
                    <h3>ADS305.COM MIAMI</h3>
                </a>
                <a ng-href="http://ads305.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-china/">
                    <h4>Joven emprendedor cubano crea camisetas ‘inteligentes’ en China</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://www.cibercuba.com/videos/noticias/2018-02-16-u1-e186450-s27061-camisetas-inteligentes-joven-cubano-comercializara">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/cibercuba.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.cibercuba.com/videos/noticias/2018-02-16-u1-e186450-s27061-camisetas-inteligentes-joven-cubano-comercializara">
                    <h3>CIBERCUBA</h3>
                </a>
                <a ng-href="https://www.cibercuba.com/videos/noticias/2018-02-16-u1-e186450-s27061-camisetas-inteligentes-joven-cubano-comercializara">
                    <h4>Las camisetas "inteligentes" que un joven cubano comercializará en china y que podrían cambiar muchas cosas</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="https://www.islalocal.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-china/">
                <img class="col-xs-4 col-md-4 imagePressVistar" src="HTML/assets/images/press/isla_local.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.islalocal.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-china/">
                    <h3>ISLA LOCAL</h3>
                </a>
                <a ng-href="https://www.islalocal.com/joven-emprendedor-cubano-crea-camisetas-inteligentes-china/">
                    <h4>Joven emprendedor cubano crea camisetas ‘inteligentes’… en China</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://cubayeconomia.blogspot.com/2018/02/ropa-inteligente-cubana-desde-china-que.html">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/cuba_y_la_economia.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://cubayeconomia.blogspot.com/2018/02/ropa-inteligente-cubana-desde-china-que.html">
                    <h3>Cuba y la Economía</h3>
                </a>
                <a ng-href="https://cubayeconomia.blogspot.com/2018/02/ropa-inteligente-cubana-desde-china-que.html">
                    <h4>Ropa inteligente, cubana, desde China, ¿qué es eso?</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="https://www.periodicocubano.com/cuba-ya-primera-linea-ropa-inteligente/">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/periodico_cubano.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.periodicocubano.com/cuba-ya-primera-linea-ropa-inteligente/">
                    <h3>PERIÓDICO CUBANO</h3>
                </a>
                <a ng-href="https://www.periodicocubano.com/cuba-ya-primera-linea-ropa-inteligente/">
                    <h4>Cuba ya tiene su primera línea de ropa inteligente</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://cubanosporelmundo.com/2018/02/14/china-cubano-pullover-inteligente/">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/cubanos_mundo.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://cubanosporelmundo.com/2018/02/14/china-cubano-pullover-inteligente/">
                    <h3>CUBANOS POR EL MUNDO</h3>
                </a>
                <a ng-href="https://cubanosporelmundo.com/2018/02/14/china-cubano-pullover-inteligente/">
                    <h4>China: Emprendedor cubano crea un pullover “inteligente</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="https://www.escuchable.com/podcast/mas-de-uno/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda.html">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/escuchable.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.escuchable.com/podcast/mas-de-uno/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda.html">
                    <h3>ESCUCHABLE.COM</h3>
                </a>
                <a ng-href="https://www.escuchable.com/podcast/mas-de-uno/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda.html">
                    <h4>China: Emprendedor cubano crea un pullover “inteligente</h4>
                </a>
            </div>
        </div>
        
        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="http://es.newsgur.com/2018/02/puloveres-inteligentes-made-in-china.html">
                <img class="col-xs-4 col-md-4 imagePressNews" src="HTML/assets/images/press/newsgur.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://es.newsgur.com/2018/02/puloveres-inteligentes-made-in-china.html">
                    <h3>NEWSGUR</h3>
                </a>
                <a ng-href="http://es.newsgur.com/2018/02/puloveres-inteligentes-made-in-china.html">
                    <h4>¿Pulóveres inteligentes made in China?</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="https://player.fm/series/ms-de-uno-73400/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda">
                <img class="col-xs-4 col-md-4 imagePressVistar" src="HTML/assets/images/press/player_fm.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://player.fm/series/ms-de-uno-73400/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda">
                    <h3>PLAYER FM</h3>
                </a>
                <a ng-href="https://player.fm/series/ms-de-uno-73400/la-camiseta-inteligente-con-mensaje-que-pretende-revolucionar-la-moda">
                    <h4>La camiseta inteligente con mensaje que pretende revolucionar la moda</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="http://www.iberoamerica.net/espana/prensa-generalista/ondacero.es/20180217/noticia.html?id=uXG0ONV">
                <img class="col-xs-4 col-md-4 imagePressIberoamerica" src="HTML/assets/images/press/iberoamerica.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.iberoamerica.net/espana/prensa-generalista/ondacero.es/20180217/noticia.html?id=uXG0ONV">
                    <h3>IBEROAMÉRICA.NET</h3>
                </a>
                <a ng-href="http://www.iberoamerica.net/espana/prensa-generalista/ondacero.es/20180217/noticia.html?id=uXG0ONV">
                    <h4>ONDACERO: La camiseta inteligente con mensaje que pretende revolucionar la moda</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="https://es.finance.yahoo.com/noticias/sue%C3%B1o-fung-camisetas-libres-chinas-producci%C3%B3n-cubanas-coraz%C3%B3n-095230249--sector.html">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/yahoo.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://es.finance.yahoo.com/noticias/sue%C3%B1o-fung-camisetas-libres-chinas-producci%C3%B3n-cubanas-coraz%C3%B3n-095230249--sector.html">
                    <h3>YAHOO</h3>
                </a>
                <a ng-href="https://es.finance.yahoo.com/noticias/sue%C3%B1o-fung-camisetas-libres-chinas-producci%C3%B3n-cubanas-coraz%C3%B3n-095230249--sector.html">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://www.centralcharts.com/es/news/1346668-el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon">
                <img class="col-xs-4 col-md-4 imagePressCentral" src="HTML/assets/images/press/central_chart.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.centralcharts.com/es/news/1346668-el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon">
                    <h3>CENTRAL CHARTS</h3>
                </a>
                <a ng-href="https://www.centralcharts.com/es/news/1346668-el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="https://www.efe.com/efe/america/gente/el-sueno-de-fung-camisetas-libres-chinas-produccion-y-cubanas-corazon/20000014-3534055#">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/efe.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.efe.com/efe/america/gente/el-sueno-de-fung-camisetas-libres-chinas-produccion-y-cubanas-corazon/20000014-3534055#">
                    <h3>AGENCIA EFE</h3>
                </a>
                <a ng-href="https://www.efe.com/efe/america/gente/el-sueno-de-fung-camisetas-libres-chinas-produccion-y-cubanas-corazon/20000014-3534055#">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="http://www.14ymedio.com/cultura/Fung-camisetas-produccion-cubanas-corazon_0_2388961082.html">
                <img class="col-xs-4 col-md-4 imagePress14" src="HTML/assets/images/press/14ymedio.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.14ymedio.com/cultura/Fung-camisetas-produccion-cubanas-corazon_0_2388961082.html">
                    <h3>14 Y MEDIO</h3>
                </a>
                <a ng-href="http://www.14ymedio.com/cultura/Fung-camisetas-produccion-cubanas-corazon_0_2388961082.html">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://gerente.com/co/rss-article/china-cuba-el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon/">
                <img class="col-xs-4 col-md-4 imagePress14" src="HTML/assets/images/press/gerente.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://gerente.com/co/rss-article/china-cuba-el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon/">
                    <h3>GERENTE.COM</h3>
                </a>
                <a ng-href="http://gerente.com/co/rss-article/china-cuba-el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon/">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://www.elconfidencial.com/ultima-hora-en-vivo/2018-02-24/el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon_1450259/">
                <img class="col-xs-4 col-md-4 imagePress14" src="HTML/assets/images/press/confidencial.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.elconfidencial.com/ultima-hora-en-vivo/2018-02-24/el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon_1450259/">
                    <h3>EL CONFIDENCIAL</h3>
                </a>
                <a ng-href="https://www.elconfidencial.com/ultima-hora-en-vivo/2018-02-24/el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon_1450259/">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://www.lavanguardia.com/vida/20180224/441028287130/el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon.html">
                <img class="col-xs-4 col-md-4 imagePress14" src="HTML/assets/images/press/vanguardia.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.lavanguardia.com/vida/20180224/441028287130/el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon.html">
                    <h3>LA VANGUARDIA</h3>
                </a>
                <a ng-href="http://www.lavanguardia.com/vida/20180224/441028287130/el-sueno-de-fung-camisetas-libres-chinas-de-produccion-y-cubanas-de-corazon.html">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://www.msn.com/es-xl/noticias/mundo/el-sue%C3%B1o-de-fung-camisetas-libres-chinas-de-producci%C3%B3n-y-cubanas-de-coraz%C3%B3n/vp-BBJw3VE">
                <img class="col-xs-4 col-md-4 imagePress14" src="HTML/assets/images/press/msn.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://www.msn.com/es-xl/noticias/mundo/el-sue%C3%B1o-de-fung-camisetas-libres-chinas-de-producci%C3%B3n-y-cubanas-de-coraz%C3%B3n/vp-BBJw3VE">
                    <h3>MSN NOTICIAS</h3>
                </a>
                <a ng-href="https://www.msn.com/es-xl/noticias/mundo/el-sue%C3%B1o-de-fung-camisetas-libres-chinas-de-producci%C3%B3n-y-cubanas-de-coraz%C3%B3n/vp-BBJw3VE">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://puhoe.com/2018/02/23/ropa-inteligente-el-joven-cubano-que-quiere-revolucionar-el-mundo-de-la-moda/">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/puhoe.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://puhoe.com/2018/02/23/ropa-inteligente-el-joven-cubano-que-quiere-revolucionar-el-mundo-de-la-moda/">
                    <h3>PUHOE.COM</h3>
                </a>
                <a ng-href="http://puhoe.com/2018/02/23/ropa-inteligente-el-joven-cubano-que-quiere-revolucionar-el-mundo-de-la-moda/">
                    <h4>'Ropa inteligente': El joven cubano que quiere revolucionar el mundo de la moda</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="https://oncubamagazine.com/economy-business/smart-cuban-clothes-from-china-whats-that/">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/on_cuba.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="https://oncubamagazine.com/economy-business/smart-cuban-clothes-from-china-whats-that/">
                    <h3>ONCUBA</h3>
                </a>
                <a ng-href="https://oncubamagazine.com/economy-business/smart-cuban-clothes-from-china-whats-that/">
                    <h4>Smart, Cuban clothes from China, what’s that?</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://www.dailymotion.com/video/x6f87yq">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/daily_motion.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.dailymotion.com/video/x6f87yq">
                    <h3>DAILY MOTION</h3>
                </a>
                <a ng-href="http://www.dailymotion.com/video/x6f87yq">
                    <h4>El sueño de Fung: camisetas libres, chinas de producción y cubanas de corazón</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="http://www.sandiegouniontribune.com/hoy-san-diego/noticias/mundo/96027297-132.html">
                <img class="col-xs-4 col-md-4 imagePressUnion" src="HTML/assets/images/press/san_diego.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.sandiegouniontribune.com/hoy-san-diego/noticias/mundo/96027297-132.html">
                    <h3>SAN DIEGO UNION TRIBUNE</h3>
                </a>
                <a ng-href="http://www.sandiegouniontribune.com/hoy-san-diego/noticias/mundo/96027297-132.html">
                    <h4>Ropa inteligente': El joven cubano que quiere revolucionar el mundo de la moda</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30">
            <a ng-href="http://www.cubaenmiami.com/un-habanero-radicado-en-china-suena-en-grande-y-dice-que-creara-la-primera-empresa-privada-en-la-isla/">
                <img class="col-xs-4 col-md-4 imagePress14" src="HTML/assets/images/press/cuba_en_miami.jpg" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.cubaenmiami.com/un-habanero-radicado-en-china-suena-en-grande-y-dice-que-creara-la-primera-empresa-privada-en-la-isla/">
                    <h3>CUBA EN MAIMI</h3>
                </a>
                <a ng-href="http://www.cubaenmiami.com/un-habanero-radicado-en-china-suena-en-grande-y-dice-que-creara-la-primera-empresa-privada-en-la-isla/">
                    <h4>Un habanero radicado en China, sueña en grande, y dice que creará la primera empresa privada en la Isla</h4>
                </a>
            </div>
        </div>

        <div class="col-md-6 margin-bottom-30 padding-left-70">
            <a ng-href="http://www.cubalibredigital.com/index.php?option=com_content&view=article&id=31953:un-joven-emigrante-quiere-traer-desde-china-la-primera-empresa-privada-de-cuba&catid=4:quaternaria&Itemid=21">
                <img class="col-xs-4 col-md-4 imagePress" src="HTML/assets/images/press/cuba_libre.png" />
            </a>
            <div class="col-xs-8 col-md-8">
                <a ng-href="http://www.cubalibredigital.com/index.php?option=com_content&view=article&id=31953:un-joven-emigrante-quiere-traer-desde-china-la-primera-empresa-privada-de-cuba&catid=4:quaternaria&Itemid=21">
                    <h3>CUBA LIBRE DIGITAL</h3>
                </a>
                <a ng-href="http://www.cubalibredigital.com/index.php?option=com_content&view=article&id=31953:un-joven-emigrante-quiere-traer-desde-china-la-primera-empresa-privada-de-cuba&catid=4:quaternaria&Itemid=21">
                    <h4>Un joven emigrante quiere traer desde China 'la primera empresa privada de Cuba'</h4>
                </a>
            </div>
        </div>
    </section>
</script>