<div class="profile-terms">
    <div class="BoxXsWidth">
        <img class="pictureExploreUser" ng-src="HTML/assets/images/bannerPoliticsprivacidad.jpg" />
        <h2 class="text-center textPictureExploreUsers col-xs-12" translate="privacy.TITLE"></h2>
        <p class="text-center font-size-15 textPictureExploreUsersSeconds col-xs-12 lineHeight20 hidden-xs" translate="privacy.SUB_TITLE"></p>
    </div>
    <section class="container-fluid container-fullw bg-white min-height-586 paddingTerms" ng-controller="PrivacyCtrl">
        <h2 class="colorTextBackers" translate="privacy.HEADER1"></h2>
        <div class="BorderPageBlue"></div>
        <p class="colorTextBackers lineHeight20" translate="privacy.HEADER"></p>
        <ul>
            <li class="colorTextBackers lineHeight20" translate="privacy.TEXT1"></li>
            <li class="colorTextBackers lineHeight20" translate="privacy.TEXT2"></li>
            <li class="colorTextBackers lineHeight20" translate="privacy.TEXT3"></li>
            <li class="colorTextBackers lineHeight20" translate="privacy.TEXT4"></li>
            <li class="colorTextBackers lineHeight20" translate="privacy.TEXT5"></li>
            <li class="colorTextBackers lineHeight20" translate="privacy.TEXT6"></li>
            <li class="colorTextBackers lineHeight20" translate="privacy.TEXT7"></li>
        </ul>
        <p class="colorTextBackers lineHeight20" translate="privacy.FOOTER"></p>
    </section>
</div>