<div class="profile-terms">
    <div class="BoxXsWidth">
        <img class="pictureExploreUser" ng-src="HTML/assets/images/bannerTerminosCondic.jpg" />
        <h2 class="text-center textPictureExploreUsers col-xs-12" translate="terms.TITLE"></h2>
        <p class="text-center font-size-15 textPictureExploreUsersSeconds col-xs-12 hidden-xs" translate="terms.SUB_TITLE"></p>
    </div>
    <section class="container-fluid container-fullw bg-white min-height-586 paddingTerms" ng-controller="TermsCtrl">
        <h4 translate="terms.TERM1"></h4>
        <div class="BorderPageBlueTerms"></div>
        <p class="colorTextBackers lineHeight20" translate="terms.SUB_TERM1"></p>
        <h4 translate="terms.USE_LICENSE"></h4>
        <div class="BorderPageBlueTerms"></div>
        <ol type="a">
            <li class="colorTextBackers lineHeight20" translate="terms.USER_LICENSE_SUB">
                <ol type="i">
                    <li class="colorTextBackers lineHeight20" translate="terms.LICENSE1"></li>
                    <li class="colorTextBackers lineHeight20" translate="terms.LICENSE2"></li>
                    <li class="colorTextBackers lineHeight20" translate="terms.LICENSE3"></li>
                    <li class="colorTextBackers lineHeight20" translate="terms.LICENSE4"></li>
                    <li class="colorTextBackers lineHeight20" translate="terms.LICENSE5"></li>
                </ol>
            </li>
            <li class="colorTextBackers lineHeight20" translate="terms.LICENSE_SUB2"></li>
        </ol>
        <h4 translate="terms.DISCLAIMER"></h4>
        <div class="BorderPageBlueTerms"></div>
        <ol type="a">
            <li class="colorTextBackers lineHeight20" translate="terms.DISCLAIMER_SUB"></li>
        </ol>
        <h4 translate="terms.LIMITATIONS"></h4>
        <div class="BorderPageBlueTerms"></div>
        <p class="colorTextBackers lineHeight20" translate="terms.LIMITATIONS_SUB"></p>
        <h4 translate="terms.REVITION"></h4>
        <div class="BorderPageBlueTerms"></div>
        <p class="colorTextBackers lineHeight20" translate="terms.REVITION_SUB"></p>
        <h4 translate="terms.LINKS"></h4>
        <div class="BorderPageBlueTerms"></div>
        <p class="colorTextBackers lineHeight20" translate="terms.LINKS_SUB"></p>
        <h4 translate="terms.SITE_TERM"></h4>
        <div class="BorderPageBlueTerms"></div>
        <p class="colorTextBackers lineHeight20" translate="terms.SITE_TERM_SUB"></p>
        <h4 translate="terms.LAW"></h4>
        <div class="BorderPageBlueTerms"></div>
        <p class="colorTextBackers lineHeight20" translate="terms.LAW_SUB"></p>
        <p class="colorTextBackers lineHeight20" translate="terms.GENERAL"></p>
    </section>
</div>