<div class="profile-padding-configuration background-light" ng-controller="UserPrivateCtrl">
    <div class="colorGrayDark height50"></div>
    <section class="padding-top-30 styleBoxUserHidden container-fluid container-fullw bg-white padding-top-10 padding-bottom-10 backgroundGray">
        <div class="row">
            <div class="styleBox marginExploreUserHidden">
                <div class="imageBoxHome colorGrayDark border-radius50">
                    <img ng-src="HTML/assets/images/hide.png" class="img-circle imgProfile" />
                </div>
                <div class="col-xs-12 center padding-left-10 padding-right-10">
                    <h3 class="margin-top-10" translate="user_hidden.USER_INVISIBLE"></h3>
                    <p class="text-dark padding-left-10 padding-right-10 margin-top-10" translate="user_hidden.TEXT_INVISIBLE"></p>
                </div>
                <div class="center marginTopButtonUserHidden">
                    <a ng-hide="connected" class="btn colorGrayDark textColorWhite" ui-sref="home" translate="user_hidden.HOME"></a>
                    <a ng-show="connected" class="btn colorGrayDark textColorWhite" ui-sref="profile" translate="user_hidden.PROFILE"></a>
                </div>
            </div>
        </div>
    </section>
</div>