<div class="profile-padding-view" ng-controller="ViewTshirtCtrl" ng-cloak>
    <div id="HintSocialNetwork">
        <p class="SocialHoverText">{{SocialActive}}</p>
    </div>
    <div class="BoxXsWidth">
        <img class="pictureExploreUser" ng-src="{{user.cover}}" />
    </div>
    <div class="row backgroundWhite">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12">
                <div class="AvatarXSBox">
                    <img ng-src="{{user.avatar}}" class="img-circle avatarXS" />
                </div>
                <div class="UserInfoBox">
                    <h4 class="padding-0 margin-top-10">
                        <strong>{{showName}}</strong>
                    </h4>
                    <h5 class="padding-0">@{{user.showUsername}}</h5>
                </div>
                <div class="col-xs-12">
                    <h5 class="testimonial-text padding-0 lineHeight20" data-appears-class="fadeInUp" data-appears-delay="100">
                        {{user.info}}
                    </h5>
                    <a class="col-xs-12 padding-0 mailtoStyle" ng-show="user.email != '' && user.configEmailVisible" href="mailto:{{user.email}}">
                        <img ng-src="HTML/assets/images/email.png" class="IconEmail"> {{user.email}}
                    </a>
                    <a class="col-xs-12 padding-0 margin-top-10 margin-bottom-0 mailtoStyle" ng-show="user.phone != ''" href="tel:{{user.phone}}">
                        <img ng-src="HTML/assets/images/phone.png" class="iconPhone margin-top--5"> {{user.phone}}
                    </a>
                    <div class="col-xs-12 padding-left-0 padding-bottom-5 padding-right-0 border-top-clap margin-bottom-10 borderBottomClap">
                        <span class="col-xs-3 padding-left-0 padding-right-0" ng-cloak>
                            <img class="iconClapMini" ng-src="HTML/assets/images/clap.png"> {{user.score}}
                            <label ng-hide="showClaps" translate="view_profile.CLAP"></label>
                            <label ng-show="showClaps" translate="view_profile.CLAPS"></label>
                        </span>
                        <div class="col-xs-9">
                            <span class="stars">
                                <span ng-cloak ng-style="{ 'width': getStars(user.rating) }"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 center padding-left-0 padding-right-0 margin-bottom-10">
                    <a ng-click="leaveMessage()" class="col-xs-3">
                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/message.png"></img>
                        <label class="col-xs-12 padding-left-0 padding-right-0 pointerHover" translate="view_profile.LEAVE_MESSAGE"></label>
                    </a>
                    <a ng-click="makeClap()" ng-disabled="activateClap" class="col-xs-3 col-xs-offset-1">
                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/clap.png" ng-hide="activateClap">
                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/unclap.png" ng-show="activateClap">
                        <label class="col-xs-12 padding-left-0 padding-right-0 pointerHover" ng-hide="activateClap" translate="view_profile.CLAP_BUTTON"></label>
                        <label class="col-xs-12 padding-left-0 padding-right-0 pointerHover" ng-show="activateClap" translate="view_profile.CLAPPED"></label>
                    </a>
                    <a ng-show="!activateFollow" ng-click="follow()" class="col-xs-3 col-xs-offset-1">
                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/follow.png">
                        <label class="col-xs-12 padding-left-0 padding-right-0 pointerHover" translate="view_profile.FOLLOW"></label>
                    </a>
                    <a ng-show="activateFollow" ng-click="unfollow()" class="col-xs-3 col-xs-offset-1">
                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/unfollow.png">
                        <label class="col-xs-12 padding-left-0 padding-right-0 pointerHover" translate="view_profile.UNFOLLOW"></label>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <nav class="nav navbar-default ColorNavBar">
                <ul class="list-inline SocialIcon list-unstyled">
                    <li id="SocialBox">
                        <ul class="list-inline SocialIcon list-unstyled margin-left-0 displayInlineFlex" ng-class="{HiddenIfXS: user.socialnetworks.length <= 0}">
                            <li ng-repeat="sn in user.socialnetworks" class="padding-5">
                                <a type="button" ng-mouseover="mouseOverSocial(sn.name, $event)" ng-mouseleave="mouseLeaveSocial()" class="SocialList HoverWhite padding-top-2 social-{{sn.type}}" ng-click="goToLink(sn.url)">
                                    <i class="{{sn.type}}"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="container-fluid container-fullw bg-white padding-top-10 backgroundGray padding-Bottom-60">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="testimonial-container col-xs-12 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0 margin-top-10 padding-left-0 padding-right-0">
                            <div class="image_middle backgroundWhite border-radius50">
                                <img ng-src="{{user.avatar}}" class="img-circle hidden-xs imgProfile" />
                            </div>
                            <div class="UserInfoBox hidden-xs">
                                <h4 class="col-xs-12 padding-0 margin-top-10" ng-show="user.fullname != ''">
                                    <strong>{{showName}}</strong>
                                </h4>
                                <h4 class="col-xs-12 col-sm-11 col-md-11 col-lg-11 padding-0">@{{user.showUsername}}</h4>
                                <h5 class="testimonial-text col-xs-12 col-sm-11 col-md-11 col-lg-11 padding-0 lineHeight20" data-appears-class="fadeInUp" data-appears-delay="100">
                                    {{user.info}}
                                </h5>
                                <a class="col-xs-12 col-sm-11 col-md-11 col-lg-11 padding-0 mailtoStyle" ng-show="user.email != '' && showShortEmailBox && user.configEmailVisible" href="mailto:{{user.email}}">
                                    <img ng-src="HTML/assets/images/email.png" class="IconEmail">
                                    <p class="margin-bottom-0  col-sm-11 col-md-11 col-lg-11 padding-left-10 pull-right">{{showEmail}}
                                        <span class="showTextHover">{{user.email}}</span>
                                    </p>
                                </a>
                                <a ng-show="!EditInfoFlag && user.email != '' && !showShortEmailBox && user.configEmailVisible" class="col-xs-12 col-sm-11 col-md-11 col-lg-11 padding-0 mailtoStyle" href="mailto:{{user.email}}">
                                    <img ng-src="HTML/assets/images/email.png" class="IconEmail margin-right-10">{{user.email}}
                                </a>
                                <a class="col-xs-12 col-sm-11 col-md-11 col-lg-11 padding-0 margin-top-10 margin-bottom-0 mailtoStyle" ng-show="user.phone != ''" href="tel:{{user.phone}}">
                                    <img ng-src="HTML/assets/images/phone.png" class="iconPhone margin-top--5"> {{user.phone}}
                                </a>
                                <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 padding-left-0 padding-bottom-5 padding-right-0 border-top-clap margin-bottom-10 borderBottomClap">
                                    <span class="col-md-5 padding-left-0 padding-right-0" ng-cloak>
                                        <img class="iconClapMini" ng-src="HTML/assets/images/clap.png"> {{user.score}}
                                        <label ng-hide="showClaps" translate="view_profile.CLAP"></label>
                                        <label ng-show="showClaps" translate="view_profile.CLAPS"></label>
                                    </span>
                                    <div class="col-md-7">
                                        <span class="stars">
                                            <span ng-cloak ng-style="{ 'width': getStars(user.rating) }"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 center padding-left-0 padding-right-0 margin-bottom-10">
                                    <a ng-click="leaveMessage()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-left-0">
                                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/message.png"></img>
                                        <label class="col-xs-12 padding-right-0 padding-left-0 pointerHover" translate="view_profile.LEAVE_MESSAGE"></label>
                                    </a>
                                    <a ng-click="makeClap()" ng-disabled="activateClap" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margin-left--15">
                                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/clap.png" ng-hide="activateClap">
                                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/unclap.png" ng-show="activateClap">
                                        <label class="col-xs-12 padding-right-0 padding-left-0 pointerHover" ng-hide="activateClap" translate="view_profile.CLAP_BUTTON"></label>
                                        <label class="col-xs-12 padding-right-0 padding-left-0 pointerHover" ng-show="activateClap" translate="view_profile.CLAPPED"></label>
                                    </a>
                                    <a ng-show="!activateFollow" ng-click="follow()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margin-left--15">
                                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/follow.png">
                                        <label class="col-xs-12 padding-right-0 padding-left-0 pointerHover" translate="view_profile.FOLLOW"></label>
                                    </a>
                                    <a ng-show="activateFollow" ng-click="unfollow()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margin-left--15">
                                        <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/unfollow.png">
                                        <label class="col-xs-12 padding-right-0 padding-left-0 pointerHover" translate="view_profile.UNFOLLOW"></label>
                                    </a>
                                </div>
                            </div>
                            <div class="padding-right-15 paddingLeft15XS">
                                <img ng-show="user.qrcode != ''" ng-src="{{user.qrcode}}" class="borderQR padding-15 col-xs-12" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 paddingStyleView">
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-20 borderBox padding-0 marginSnippetXS">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a ng-click="changeMiddle(0)" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-bottom-0">
                                            <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/snippets.png"></img>
                                            <label class="pointerHover" translate="user_profile.SNIPPETS"></label>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 lineMiddleSelect" ng-if="indexShowMiddle == 0"></div>
                                        </a>
                                        <a ng-click="changeMiddle(1)" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-bottom-0">
                                            <img class="IconSnippet pointerHover" ng-src="HTML/assets/images/networks.png">
                                            <label class="pointerHover" translate="user_profile.SOCIAL"></label>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 lineMiddleSelect" ng-if="indexShowMiddle == 1"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="indexShowMiddle == 0">
                                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-21 padding-0 marginSnippetXS">
                                    <ul class="ltwt">
                                        <li ng-repeat="snippet in user.snippets">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 borderBox margin-top-10 margin-bottom-10 padding-top-15 padding-bottom-5 backgroundWhite">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-0 padding-right-0">
                                                    <div class="IconSnippetBox">
                                                        <img class="IconSnippet" ng-src="HTML/assets/images/snippet.png"></img>
                                                    </div>
                                                    <div class="TitleSnippetBox">
                                                        <span class="block text-light margin-top-3 margin-bottom-10 col-xs-9 col-sm-6 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                                                            <i class="fa fa-fw fa-clock-o"></i>
                                                            {{snippet.created | timeago}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <h5 class="ltwt_tweet_text dont-break-out col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-30 padding-right-0 lineHeight20" ng-bind-html="snippet.body | emoticons:{'linkTarget':'_blank'}"></h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 row" ng-hide="user.snippets.length <= 5 && currentPage == 1">
                                    <ul class="pager ng-isolate-scope ng-not-empty ng-valid">
                                        <li ng-class="{disabled: noPrevious()||ngDisabled, previous: align}" class="previous">
                                            <a ng-click="previous()" class="ng-binding border-radius6" translate="view_profile.PREVIOUS"></a>
                                        </li>
                                        <li ng-class="{disabled: noNext()||ngDisabled, next: align}" class="next">
                                            <a ng-click="next()" class="ng-binding border-radius6" translate="view_profile.NEXT"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="indexShowMiddle == 1">
                                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 marginSnippetXS">
                                    <ul class="post-list">
                                        <li class="borderBottomNone" ng-repeat="sn in user.socialnetworks">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 borderBox margin-bottom-10 padding-top-15 padding-bottom-5 backgroundWhite">
                                                <a class="text-dark font-size-18" ng-click="goToLink(sn.url)">
                                                    <i class="{{sn.type}} margin-right-8"></i> {{sn.name}}
                                                </a>
                                                <h5 class="margin-top-10" ng-bind-html="sn.url | emoticons:{'linkTarget':'_blank'}" ng-show="!EditSocialFlag"></h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 margin-top-10 hidden-xs">
                    <div class="padding-top-20">
                        <aside class="sidebar">
                            <div class="tabbable">
                                <div class="tabs">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a data-toggle="tab">
                                                <img class="IconPopular" ng-src="HTML/assets/images/popular.png"></img>
                                                <label translate="view_profile.POPULAR_USER"></label>
                                            </a>
                                            <hr class="tall margin-0">
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="popularUsers">
                                            <ul class="post-list">
                                                <li ng-repeat="popularUser in users | limitTo: 3">
                                                    <div class="post-image">
                                                        <div class="img-thumbnail">
                                                            <a ng-disabled="!popularUser.configVisible" ng-click="goToProfile(popularUser.owner)">
                                                                <img ng-src="{{getAvatar(popularUser.avatar)}}" class="img-responsive">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="post-info">
                                                        <a ng-disabled="!popularUser.configVisible" ng-show="popularUser.fullname == ''" ng-click="goToProfile(popularUser.owner)">{{popularUser.owner}}</a>
                                                        <a ng-disabled="!popularUser.configVisible" ng-hide="popularUser.fullname == ''" ng-click="goToProfile(popularUser.owner)">{{popularUser.fullname}}</a>
                                                        <h5 class="lineHeight20">{{popularUser.info | htmlToPlaintext | words:10 :true}}</h5>
                                                    </div>
                                                </li>
                                                <!-- <li class="ListMoreUser center">
                                                    <a type="button" class="btn btn-primary" ui-sref='users'>
                                                        <i class="ti-arrow-right"></i>
                                                        <label class="pointerHover textColorWhite margin-bottom-0" translate="user_profile.SEE_MORE"></label>
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start: MODAL LEAVE MESSAGE-->
    <div class="modal fade" id="modalLeaveMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-controller="FormController">
                <div class="modal-header padding-15">
                    <button type="button" class="close closeModals margin-top--10" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <img ng-src="HTML/assets/images/email.png" class="IconSnippet">
                        <label translate="view_profile.LEAVE_MESSAGE"></label>
                    </h4>
                </div>
                <div class="modal-body padding-15">
                    <form name="LeaveMessage" role="form">
                        <div class="form-group">
                            <div class="error form-hint" id="MessageTitle" ng-cloak translate="view_profile.FIELD_REQUIRED"></div>
                            <input type="text" class="form-control" ng-class="(LeaveMessage.title.$dirty && LeaveMessage.title.$invalid) ? 'error' : ''" id="user" name="title" placeholder="{{ 'view_profile.ENTER_SUBJECT' | translate }}" ng-required="true" ng-model="$parent.message.title">
                        </div>
                        <div class="form-group">
                            <div class="error form-hint" id="MessageBody" ng-cloak translate="view_profile.FIELD_REQUIRED"></div>
                            <textarea class="resize-none form-control" ng-class="(LeaveMessage.body.$dirty && LeaveMessage.body.$invalid) ? 'error' : ''" id="user" name="body" placeholder="{{ 'view_profile.ENTER_MESSAGE' | translate }}" ng-required="true" ng-model="$parent.message.body"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer padding-15">
                    <a class="btn btn-primary ButtonRadius" ng-disabled="LeaveMessage.$invalid" ng-click="$parent.SendMessage()">
                        <i class="ti-email"></i>
                        <label class="textColorWhite pointerHover margin-bottom-0" translate="view_profile.SEND_MESSAGE"></label>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end: MODAL LEAVE MESSAGE-->
</div>
<script type="text/javascript">
    $(function() {
        OverlayScrollbars(document.getElementById('SocialBox'), {
            className: "os-theme-dark",
            resize: "none",
            sizeAutoCapable: true,
            paddingAbsolute: true,
            overflowBehavior: {
                x: "scroll",
                y: "hidden"
            },
            scrollbars: {
                autoHide: "leave",
                touchSupport: true
            }
        });
    });
</script>