.buttonLeft {
    position: absolute;
    right: 70px;
    height: 30px;
    width: 30px;
    bottom: 40px;
    background-image: url('../img/left.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buttonTop {
    position: absolute;
    right: 40px;
    height: 30px;
    width: 30px;
    bottom: 70px;
    background-image: url('../img/up.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.buttonRight {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    bottom: 40px;
    background-image: url('../img/right.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.buttonDown {
    position: absolute;
    right: 40px;
    height: 30px;
    width: 30px;
    bottom: 10px;
    background-image: url('../img/down.png');
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.buttonRotate {
    position: absolute;
    right: 40px;
    height: 30px;
    width: 30px;
    bottom: 40px;
    background-image: url('../img/rotate.png');
    background-repeat: no-repeat;
    background-position: center;
}

.buttonScreenshot {
    position: absolute;
    right: 20px;
    height: 40px;
    width: 40px;
    top: 20px;
    background-image: url('../img/screenshot.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.rotarText {
    position: absolute;
    right: 95px;
    bottom: 15px;
    margin-bottom: 0px !important;
}

#check {
    position: absolute;
    right: 75px;
    bottom: 15px;
}

#arjsDebugUIContainer {
    visibility: hidden !important;
}

.a-enter-vr {
    visibility: hidden !important;
}

#myCanvas {
    visibility: hidden !important;
}

.rotationX {
    position: absolute !important;
    top: 20px !important;
    left: 40px !important;
}

.rotationY {
    position: absolute !important;
    top: 50px !important;
    left: 40px !important;
}

.rotationZ {
    position: absolute !important;
    top: 80px !important;
    left: 40px !important;
}

#left,
#top,
#right,
#down,
#screenshotAR {
    cursor: pointer !important;
}